[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.26"
via_ir = true
optimizer = true
optimizer_runs = 200


[rpc_endpoints]
# Add RPC endpoints here

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = true
